* { box-sizing: border-box; }
body {
  font-family: sans-serif;
  margin: 5em;
  color: #222;
}
h1 {
  font-weight: normal;
  color: #ef12ac;
}
a {
  color: #ef12ac;
  text-decoration: none;
}
#disclaimer {
  color: #aaa;
  font-size: 0.9em;
}
#tlkio {
  float: right;
  margin: 1em;
  display: inline-block;
}
